<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List | <%= title %></title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/">To Do List</a>
            <p>Save Your Tasks Easily</p>
        </div>
        <ul>
            <li><a href="/">Tasks</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/tasks/create">New Task</a></li>
        </ul>
    </nav>

    <div class="create-task content">
        <form>
            <label for="title">Task title:</label>
            <input type="text" id="title" required>
            <label for="details">Task details:</label>
            <input type="text" id="details" required>
            <label for="body">Task body:</label>
            <input type="text" id="body" required>
            <textarea id="body" required></textarea>
            <button>Submit</button>
        </form>
    </div>
</body>
</html>