<!DOCTYPE html>
<html lang="en">
<!-- using custom head -->
<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List | <%= title %></title>
</head> -->
<!-- including head -->
<%- include('./partials/head.ejs') %>

    <body>
        <!-- using custom navbar -->
        <!-- <nav>
        <div class="site-title">
            <a href="/">To Do List</a>
            <p>Save Your Tasks Easily</p>
        </div>
        <ul>
            <li><a href="/">Tasks</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/tasks/create">New Task</a></li>
        </ul>
    </nav> -->
        <!-- including navbar -->
        <%- include('./partials/nav.ejs') %>

            <div class="create-task content">
                <form>
                    <label for="title">Task title:</label>
                    <input type="text" id="title" required>
                    <label for="details">Task details:</label>
                    <input type="text" id="details" required>
                    <label for="body">Task body:</label>
                    <textarea id="body" required></textarea>
                    
                    <button class="btn">Submit</button>
                    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                    <main class="main_full">
                        <div class="container">
                            <div class="panel">
                                <div class="button_outer">
                                    <div class="btn_upload">
                                        <input type="file" id="upload_file" name="">
                                        Upload Image
                                    </div>
                                    <div class="processing_bar"></div>
                                    <div class="success_box"></div>
                                </div>
                            </div>
                            <div class="error_msg"></div>
                            <div class="uploaded_file_view" id="uploaded_view">
                                <span class="file_remove">X</span>
                            </div>
                        </div>
                    </main>
                </form>
                <!-- including footer -->
                <%- include('./partials/footer.ejs') %>
            </div>
            <script>
                var btnUpload = $("#upload_file"),
                    btnOuter = $(".button_outer");
                btnUpload.on("change", function (e) {
                    var ext = btnUpload.val().split('.').pop().toLowerCase();
                    if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
                        $(".error_msg").text("Not an Image...");
                    } else {
                        $(".error_msg").text("");
                        btnOuter.addClass("file_uploading");
                        setTimeout(function () {
                            btnOuter.addClass("file_uploaded");
                        }, 3000);
                        var uploadedFile = URL.createObjectURL(e.target.files[0]);
                        setTimeout(function () {
                            $("#uploaded_view").append('<img src="' + uploadedFile + '" />').addClass("show");
                        }, 3500);
                    }
                });
                $(".file_remove").on("click", function (e) {
                    $("#uploaded_view").removeClass("show");
                    $("#uploaded_view").find("img").remove();
                    btnOuter.removeClass("file_uploading");
                    btnOuter.removeClass("file_uploaded");
                });
            </script>

    </body>

</html>