<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List | <%= title %></title>
</head>
<body>

    <nav>
        <div class="site-title">
            <a href="/">To Do List</a>
            <p>Save Your Tasks Easily</p>
        </div>
        <ul>
            <li><a href="/">Tasks</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/tasks/create">New Task</a></li>
        </ul>
    </nav>

    <div class="home content">
        <h2>All Tasks</h2>

        <% if(tasks.length > 0) { %>
            <% tasks.forEach(tasks => { %>

               <h3 class="title"><%= tasks.title %></h3>
               <p class="body"><%= tasks.body %></p>

            <% }) %>
        <% } else { %>
            <p>There are no tasks to display...</p>
        <% } %>    

    </div>
</body>
</html>