<nav>
    <div class="site-title">
        <h1 href="/">To Do List</h1>
        <p>Save Your Tasks Easily</p>
    </div>
    <ul>
        <li><a href="/">Tasks</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/create">New Task</a></li>
    </ul>
</nav>